<h1>This is the secret page!</h1>

<p>You found it</p>

<img src ="https://pixabay.com/get/e83db50929f0033ed1584d05fb1d4e97e07ee3d21cac104491f6c678aeebb5b8_340.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>