<!--include header template-->
<%include partials/header%>

<link rel = "stylesheet" href = "app.css"> 

<h1> This is a Home Page </h1>

<img src="https://vignette.wikia.nocookie.net/youtubepoop/images/f/f7/5Pikachu.png/revision/latest?cb=20141108062013 ">

<!--include footer template--> 
<%include partials/footer%>